{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<meta charset="UTF-8">
	<title>{% block title %}Document{% endblock %}</title>
</head>
<body>

{% block body %}

<form action="" method="POST">
	{% csrf_token %}
  

  <label for="username">Director:</label>
  <input class="form-control" type="text" name="director">

  <label for="username">Titulo:</label>
  <input class="form-control" type="text" name="titulo">

  <label for="username">reparto:</label>
  <input class="form-control" type="text" name="reparto">

  <label for="username">Calificacion:</label>
	<input class="form-control" type="text" name="calificacion">
  <input type="submit" value="Actualizar" />

  <label for="username">Plan:</label>
  <input class="form-control" type="text" name="plan">

</form>

{% endblock %}
</body>
</html>
