{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>{% block title %}Document{% endblock %}</title>
</head>
<body>

{% block body %}

<form action="" method="POST">
	{% csrf_token %}
  <label for="username">Director:</label>
  <input class="form-control" type="text" name="director">

  <label for="username">Titulo:</label>
  <input class="form-control" type="text" name="titulo">

  <label for="username">reparto:</label>
  <input class="form-control" type="text" name="reparto">

  <label for="username">Calificacion:</label>
	<input class="form-control" type="text" name="calificacion">

  <label for="username">Plan:</label>
  <input class="form-control" type="text" name="plan">

	<input type="submit" value="Agregar" />
</form>
<a class="btn btn-primary" href="{% url 'topten' %}">Regresar</a>

{% endblock %}
</body>
</html>
