{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>{% block title %}Document{% endblock %}</title>
</head>
<body>

{% block body %}

<form action="" method="POST">
	{% csrf_token %}
  <label for="username">Pelicula:</label>
	<label name="pelicula" for="username">{{pelicula}}</label> <br>
	<label for="username">Calificacion:</label>
	<input class="form-control" type="text" name="calificacion" value={{calificacion}}>
  <input type="submit" value="Actualizar" />
</form>
<a class="btn btn-primary" href="{% url 'topten' %}">Regresar</a>

{% endblock %}
</body>
</html>
