{% load staticfiles %}

<!DOCTYPE html>

<html lang="es">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>{% block title %}Document{% endblock %}</title>
</head>

<body>
	<div class="container">
		<div class = "row">
      <a class="nav-link" href="#">{{ user.username }}</a>
		  <a class="nav-link" href="{% url 'login_usuario' %}">Log out</a>
		</div>

    <div class='container'>
      <h1>Profile</h1>
      <p> Username: {{ user }} </p>
      <p> Nombre: {{ user.first_name }} </p>
      <p> Apellido: {{ user.last_name }} </p>
      <p> Correo: {{ user.email }} </p>
    </div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Peliculas</td>
					<td>Plan</td>
				</tr>
			</thead>
			<tbody>
				{% if movie %}
				{% for m in movie %}
				<tr>
          <td><a class="nav-link" type="hidden" href="{% url 'movie-info' dato=m.id %}">{{ m.titulo }}</a></td>
					<td>{{ m.plan_id }}</td>
				</tr>
				{% endfor %}
				{% else %}
				<h1>No hay registros</h1>
				{% endif %}
			</tbody>
		</table>
		<a class="btn btn-primary" href="{% url 'topten' %}">Regresar</a>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
				</div>
			</div>
		</div>
	</div>

</body>

</html>
