{% load staticfiles %}

<!DOCTYPE html>

<html lang="es">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>{% block title %}Document{% endblock %}</title>
</head>

<body>
	<div class="container">
		<div class = "row">
      <a class="nav-link" href="{% url 'infoUser' %}">{{ user.username }}</a>
		  <a class="nav-link" href="{% url 'login_usuario' %}">Log out</a>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Ranking</td>
					<td>Título</td>
					<td>Calificacion</td>
					<td>Opciones</td>
				</tr>
			</thead>
			<tbody>
				{% if movie %}
				{% for pelicula in movie %}
				<tr>
					<td>{{ pelicula.id }}</td>
					<td>{{ pelicula.titulo }}</td>
					<td>{{ pelicula.calificacion }}</td>
					<td>
						<a class="btn btn-primary" href="{% url 'actualizar-model' dato=pelicula.id %}">Editar Voto</a>
						<a class="btn btn-primary" href="{% url 'borrar-model' dato=pelicula.id %}">Eliminar</a>
					</td>
				</tr>
				{% endfor %}
				{% else %}
				<h1>No hay registros de peliculas</h1>
				{% endif %}
			</tbody>
		</table>
		<a class="btn btn-primary" href="{% url 'agregar-model' %}">Agregar</a>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group">
				</div>
			</div>
		</div>
	</div>

</body>

</html>
