{% load staticfiles %}

<!DOCTYPE html>

<html lang="es">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>{% block title %}Document{% endblock %}</title>
</head>

<body>
	<div class="container">
		<div class = "row">
      <a class="nav-link" href="#">{{ user.username }}</a>
		  <a class="nav-link" href="{% url 'login_usuario' %}">Log out</a>
		</div>

    <div class='container'>
      <h1>Detalles de la Pelicula <strong>{{ movie.titulo }}</strong></h1>
      <p> Director: {{ movie.director }} </p>
      <p> Reparto: {{ movie.reparto }} </p>
      <p> Calificacion: {{ movie.calificacion }} </p>
      <a class="btn btn-primary" href="{% url 'infoUser' %}">Regresar</a>
    </div>

  </body>

  </html>
