{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<meta charset="UTF-8">
	<title>{% block title %}Document{% endblock %}</title>
</head>
<body>

{% block body %}

<form action="" method="POST">
	{% csrf_token %}
    <label for="username">Pelicula:</label>
	<label name="pelicula" for="username">{{pelicula}}</label>
	<label for="username">Calificacion:</label>
	<input class="form-control" type="text" name="calificacion" value={{calificacion}}>
  <input type="submit" value="Actualizar" />
</form>

{% endblock %}
</body>
</html>
