{% load staticfiles %}

<!DOCTYPE html>

<html lang="es">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>{% block title %}Document{% endblock %}</title>
</head>

<body>
	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>#</td>
					<td>Nombre Plan</td>
					<td>Valor</td>
				</tr>
			</thead>
			<tbody>
				{% if plan %}
				{% for p in plan %}
				<tr>
					<td>{{ p.id }}</td>
					<td>{{ p.tipo }}</td>
					<td>{{ p.valor }}</td>
				</tr>
				{% endfor %}
				{% else %}
				<h1>No hay registros de planes</h1>
				{% endif %}
			</tbody>
		</table>
	</div>

</body>

</html>
